@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}
 
.container {
	margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

/*-------- CARDS ----------*/
#cards-row1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card {
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
  justify-content: center; /*align center vertically*/
  border-radius: 8px;
  padding: 2px 16px;
  margin: 25px;
  transition: 0.3s;
}

#card1:hover {
  background-color: rgba(255, 153, 51, 0.9);
  color: white;
}

#card2:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 128, 0.9);
  color: rgb(0,0,128);
}

#card3:hover {
  background-color: rgba(19, 136, 8, 0.9);
  color: white;
}

/* ----------- BUTTONS -------------- */

/* Button Hover Effect */
.buttons button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}
.buttons button:hover {
  transform: scale(1.05);
}

#btnAge {
  background-color: aqua;
}

/* ----------- CHARTS -------------- */
#charts-row2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#charts-row3 canvas {
  width: 450px;
}

#charts-row3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.chart {
  margin: 20px 5px;
  /* border: 2px solid red; */
  background-color: white;
  display: flex; /* Use flexbox to center the chart */
  flex-direction: column; /* to arrange times in column */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* text-align: center; */
  border-radius: 8px;
  padding: 16px;
  transition: 0.3s;
}
.chart:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.959);
}

/* -------- Dropdown Button ---------*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white !important;}
/* -------- END Dropdown Button ---------*/

/* ---------media query for smaller screens--------- */
@media (min-width: 401px) and (max-width: 768px) {
  .chart {
    margin-left: 10px;
    margin-right: 10px;
  }
  #charts-row2 {
    flex-direction: column;    
  }
  #charts-row3 {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  /* Styles for small screens (e.g., smartphones) */
  #charts-row3 canvas {
      width: 300px;
  }
  .chart {
    margin: 10px auto;
    /* margin-right: 5px; */
  }
  .card {
    margin: auto;
    width: 80px;
  }
  #charts-row2 {
    flex-direction: column;    
  }
  #charts-row3 {
    flex-direction: column;
  }
}
