<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympians</title>
  <link rel="stylesheet" href="../static/CSS/feedback_style.css">

</head>

<body>

  <div class="container">
    <div class="text">GIVE US FEEDBACK </div>

    <form action="#">
      <div class="input-box">
        <label>Full Name</label>
        <input type="text" placeholder="Enter full name" required />
      </div>

      <div class="input-box">
        <label>Email Address</label>
        <input type="email" placeholder="Enter email address" required />
      </div>

      <div class="input-data">
        <textarea cols="50" rows="20" placeholder="Any Comment or suggestion"></textarea>
      </div>

      <button>Submit</button>
    </form>

  </div>

</body>

</html>