<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympians</title>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/CSS/home_page_style.css">
    <script src="https://kit.fontawesome.com/e11a2cc4f5.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-------------------------  HEADER  ------------------------------------>
    <header id="home">
        <div class="image">
            <nav>
                <label class="logo">Olympians
                    <img src="../static/Images/logo.png" alt="logo" height="30px" width="30px">
                </label>
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#foot">About</a></li>
                    <li><a href="#detail">Services</a></li>
                    <li><a href="#foot">Contact</a></li>
                    <li><a href="feedback.html">Feedback</a></li>

                </ul>
            </nav>

            <div id="timer-container">
                <h1>OLYMPIC GAMES PARIS 2024</h1>
                <div id="countdown">
                    <div class="time">
                        <h2 id="days"> </h2>
                        <small>Days</small>
                    </div>
                    <div class="time">
                        <h2 id="hours"> </h2>
                        <small>Hours</small>
                    </div>
                    <div class="time">
                        <h2 id="minutes"> </h2>
                        <small>Mins</small>
                    </div>
                    <div class="time">
                        <h2 id="seconds"> </h2>
                        <small>Sec</small>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-------------------------  SERVICES  ------------------------------------>
    <section id="detail">
        <div class="detail-section">

            <h1> Olympics Details</h1>
            <div class="container">

                <div class="custom-data">
                    <img src="../static/Images/games.png" alt="image not found">
                    <h3>Games</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../static/Images/athletes.jpeg" alt="image not found">
                    <h3>Athletes</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../static/Images/countries.jpg" alt="image not found">
                    <h3>Countries</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../static/Images/olympics_visualization.jpeg" alt="image not found">
                    <h3>Olympics Visualization</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
            </div>
        </div>

    </section>

    <!-------------------------  ABOUT US / FOOTER  ------------------------------------>
    <footer id="foot">
        <div class="foot-content">
            <!-- right box is left box -->
            <div class="right-box">

                <h1> Olympians
                    <img src="../static/Images/logo.png" alt="logo" height="30px" width="30px">
                </h1>

            </div>
            <!-- Actually left box is center box  in real -->
            <div class="left-box">
                <h2>About us</h2>
                <div class="content">
                    <p>
                        A website for people interested in olympic games.
                        Here you can see the upcoming olympic games, details of games played in olympics,
                        statistics of all athletes and also you can visulaize the statistics of players
                        according to your preferences with the help of different charts.
                    </p>
                    <div class="social">
                        <a href="#"><span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-instagram" style="color: #f5f7f9;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-facebook" style="color: #f3f4f7;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-linkedin" style="color: #f9fafa;"></i></span></a>
                    </div>
                </div>
            </div>


            <div class="center-box">
                <!-- center box is right box in real -->
                <h2>Contact </h2>

                <div class="content">
                    <div class="place">
                        <span>
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span class="text">Indore,Madhya Pradesh</span>

                    </div>
                    <div class="phone">
                        <span><i class="fa-solid fa-phone" style="color: #f9fafb;"></i></span>

                        <span class="text">+919**********6</span>

                    </div>
                    <div class="mail">

                        <span><i class="fa-regular fa-envelope" style="color: #f4f5f6;"></i></span>


                        <span class="mail">xyz@gmail.com</span>

                    </div>
                </div>
            </div>

        </div>
    </footer>

</body>
<!-- JavaScript file placed here so that used elements in js file are created before loading -->
<script src="../static/JavaScript/countdown_timer.js"></script>
</html>