<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympians</title>

   
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../Static/style.css">
    <script src="https://kit.fontawesome.com/e11a2cc4f5.js" crossorigin="anonymous"></script>

</head>

<body>

    <header id="home">
        <div class="image">
            <nav>

                <label class="logo">Olympians
                    <img src="../Images/ATHELITICS.png" alt="logo" height="30px" width="30px">
                </label>
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#foot">About</a></li>
                    <li><a href="#detail">Services</a></li>
                    <li><a href="#foot">Contact</a></li>
                    <li><a href="../Templates/index2.html">Feedback</a></li>

                </ul>
            </nav>

            <div class="content-items">
                <img src="../Images/portland.jpg"alt="olympics">

            </div>
    </header>
    <section id="detail">
        <div class="detail-section">

            <h1> Olympics Details</h1>
            <div class="container">

                <div class="custom-data">
                    <img src="../Images/images.png" alt="">
                    <h3>Games</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../Images/download (1).jpeg" alt="">
                    <h3>Athelets</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../Images/Olympics-Emblem (1).jpg" alt="">
                    <h3>Countries</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
                <div class="custom-data">
                    <img src="../Images/download.jpeg" alt="">
                    <h3>Olympics Visulisation</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis sed culpa a voluptatum qui alias, velit vitae magni.
                    </p>
                    <button>Read More</button>
                </div>
            </div>
        </div>

    </section>
    <footer id="foot">
        <div class="foot-content">
            <!-- right box is left box -->
            <div class="right-box">

                <h1> Olympians
                    <img src="../Images/ATHELITICS.png" alt="logo" height="30px" width="30px">
                </h1>

            </div>
            <!-- Actually left box is center box  in real -->
            <div class="left-box">
                <h2>About us</h2>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur sunt delectus deleniti
                        odit aperiam similique quaerat. Delectus deleniti soluta reiciendis et. Tenetur, voluptas
                        similique!
                    </p>
                    <div class="social">
                        <a href="#"><span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-instagram" style="color: #f5f7f9;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-facebook" style="color: #f3f4f7;"></i></span></a>
                        <a href="#"><span><i class="fa-brands fa-linkedin" style="color: #f9fafa;"></i></span></a>




                    </div>
                </div>
            </div>


            <div class="center-box">
                <!-- center box is right box in real -->
                <h2>Contact </h2>

                <div class="content">
                    <div class="place">
                        <span>
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span class="text">Indore,Madhya Pradesh</span>

                    </div>
                    <div class="phone">
                        <span><i class="fa-solid fa-phone" style="color: #f9fafb;"></i></span>

                        <span class="text">+919**********6</span>

                    </div>
                    <div class="mail">

                        <span><i class="fa-regular fa-envelope" style="color: #f4f5f6;"></i></span>


                        <span class="mail">xyz@gmail.com</span>

                    </div>
                </div>
            </div>


        </div>

    </footer>

</body>

</html>